
 <div class="product-price-btn">
  <button [routerLink]="['/app']" type="button">Back</button>
</div>
<div class="card text-center" style="width:50%;margin-left: 25%;margin-top: 42px;">
  <div class="card-header" style="color: rgb(24, 23, 23);">Users Names</div>
  <div class="card-body" *ngFor="let user of books">
    <!-- get user id  -->
    <!-- route to single user page by clicking on the user's name -->
    <div class="product-price-btn">
      <button [routerLink]="['/user',user.id]" type="button">{{user.name}}</button>
    </div>
    <!-- <p [routerLink]="['/user',user.id]">Name: {{user.name}}</p> -->
  </div>
</div>
